{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<title>登录|五道口小助手</title>
	<link href="{% static "static/css/login.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="logo">
		<div class="loginIcon"></div>
	</div>
	<div class="dec_line1"></div>
	<div class="loginWrap">
		<div class="slogan">{{ str }}</div>
		<div class="loginModule" style="text-align:center">
				<div>
					<span style="font-size:20px;color:red">{{ code }}</span>
				</div>
		</div>
		<div class="dec_line2" style="margin-top:10px"></div>
		<div class="regModule"></div>
		<div class="loginFooter">
			<div>五道口小助手</div>
			<div>Copyright&nbsp;&copy;&nbsp;2013&nbsp;ziyewuge</div>
		</div>
	</div>
	<script language="javascript" src="login.js"></script>
</body>
</html>