{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title>关注课程</title>
	<link rel="stylesheet" href="{% static "static/css/jquerymobile.css" %}" />
	<script src="{% static "static/js/jquery.js" %}"></script>
	<script src="{% static "static/js/jquerymobile.js" %}"></script>
</head>
<body>
    <form id="form" method="post" action="/zywg_central/weChat/focus/?fwd=true&id={{ openId }}">
		<fieldset data-role="controlgroup">
	        <legend>课程列表</legend>
			{% for item in course_list %}
				{% if item.checked %}
					<label>
						<input type="checkbox" name="focusList" value="{{ item.value }}" checked="checked" />
						{{ item.content }}
					</label>
				{% else %}
					<label>
						<input type="checkbox" name="focusList"  value="{{ item.value }}" />
						{{ item.content }}
					</label>
				 {% endif %}
			{% endfor %}
		</fieldset>
        <input type="submit" value="关注已选课程" />
    </form>
</body>
</html>