
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
    <link rel="stylesheet" type="text/css" href="/zywg_central/static/site.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
  </head>
  <body>
    <div data-role="page">
      <div data-role="content">
        <h2>使用帮助</h2>
        <hr/>
        <h3>系统设置</h3>
        <p>【一键绑定】<br/>点击系统设置菜单下的绑定账户，进入链接使用info账号密码即可完成绑定。</p>
        <p>【个人信息】<br/>绑定账户之后即可获取个人信息，学号头像各种信息一应俱全。</p>
        <p>【关注课程】<br/>课程太多？选取部分课程进行关注省却无用信息。</p>
        <hr/>
        <h3>信息查询</h3>
        <p>成绩、课程、作业、公告？任何要求只需轻轻一点即可掌握。</p>
        <hr/>
        <h3>应用服务</h3>
        <p>【未交作业】<br/>专注您所关注，提醒所有关注课程的未上交作业。</p>
        <p>【课程文件】<br/>跟紧老师步伐，随时获取关注课程文件信息。</p>
        <p>【个人指数】<br/>轻松一刻——屌丝、学霸、明星脸指数博您一笑。</p>
        <p>【个人名片】<br/>极简主义,潇洒名片。</p>
      </div>
    </div>
  </body>
</html>