<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
body{
    height:100%;
    background-color: #E5E5E5;
}
.box{
    margin:7px 10px;
    background:#fff;
    border:1px solid #628aa5;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.line{
    padding:7px 10px;
}
</style>
<head>
    <title></title>
</head>
<body>
    <div class="box">
            <div class = "line">作业标题:设计模式作业</div>
            <div class = "line">作业状态:未提交</div>
            <div class = "line">作业链接:<a href="http://learn.tsinghua.edu.cn/uploadFile/downloadFile.jsp?module_id=322&course_id=103508&filePath=nsEVLP4vNUKi6Cj%2BE04gsRR8BRLEDESP9D2VVZgoaMY%2BOLEUrwpDJxTsKt5KdcII8dn0uu%2BTcu8%3D">点此下载<a></div>
            <div class = "line">作业日期:2013-03-03</div>
            <div class = "line">截止日期:2013-12-03</div>
            <div class = "line">文件大小:200.3kb</div>
    </div>
   
<!--     <ul>
        {% for homework in content %}
            <li>作业标题:{{ homework.caption }}</li>
            <li>作业状态:{{ homework.state }}</li>
            <li>作业链接:{{ homework.link }}</li>
            <li>作业日期:{{ homework.date }}</li>
            <li>截止日期:{{ homework.deadline }}</li>
            <li>文件大小:{{ homework.size }}</li>
            <li>--------------------------</li>
        {% endfor %}
    </ul> -->
</body>
</html>