<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<title>电子名片|五道口小助手</title>
		<link href="../static/css/person_card.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="container">
			<div class="little_img">
				<img src="../static/img/profile.png"  alt="profile" class="img"/>
				<span class="little_text">汪至诚</span>
			</div>
			<div class="little_img">
				<img src="../static/img/phone.png"  alt="phone" class="img"/>
			</div>
			<div class="little_img">
				<img src="../static/img/id.png"  alt="name" class="img"/>
			</div>
			<div class="little_img">
				<img src="../static/img/birthday.png"  alt="name" class="img"/>
			</div>
			<div class="large_img">
				<img src="../static/img/major.png"  alt="name" class="img"/>
			</div>
			<div class="large_img">
				<img src="../static/img/email.png"  alt="name" class="img"/>
			</div>
		</div>
	</body>
	
</html>