<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<title>电子名片|五道口小助手</title>
		<link href="/static/css/person_card.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="container">
			<div>
			<div class="little_img">
				<img src="/static/img/profile.png"  alt="profile" class="simg"/>
				<span class="name_text">汪至诚</span>
			</div>
			<div class="little_img">
				<img src="/static/img/phone.png"  alt="phone" class="simg"/>
				<span class="phone_text">18810305395</span>
			</div>
			</div>
			<div>
			<div class="little_img">
				<img src="/static/img/id.png"  alt="name" class="simg"/>
				<span class="id_text">2011013262</span>
			</div>
			<div class="little_img">
				<img src="/static/img/birthday.png"  alt="name" class="simg"/>
				<span class="birth_text">1992-11-24</span>
			</div>
			</div>
			<div class="large_img">
				<img src="/static/img/major.png"  alt="name" class="bimg"/>
				<span class="major_text">软件学院</span>
			</div>
			<div class="large_img">
				<img src="/static/img/email.png"  alt="name" class="bimg"/>
				<span class="email_text">wzczjsx@qq.com</span>
			</div>
		</div>
	</body>
	
</html>