<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" href="/zywg_data/static/css/jquerymobile.css" />
    <script src="/zywg_data/static/js/jquery.js"></script>
    <script src="/zywg_data/static/js/jquerymobile.js"></script>
    <title>课程信息</title>
</head>
<body>
    <div>
        {% for course in content %}
            <div data-role="collapsible" data-theme="a" data-collapsed="false">
                <h3>{{ course.caption }}</h3>
                <ul data-role="listview">
                    <li>未读文件:{{ course.file_unread }}</li>
                    <li>未交作业:{{ course.homework }}</li>
                    <li>未读通知:{{ course.notice_unread }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>
</body>
</html>