<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
body{
    height:100%;
    background-color: #E5E5E5;
}
.box{
    margin:7px 10px;
    background:#fff;
    border:1px solid #628aa5;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.line{
    padding:7px 10px;
}
.course{
    margin:7px 10px;
    background:#CAE1FF;
}
</style>
<head>
    <title></title>
</head>
<body>
    <!-- <ul>
        {% for course in content %}
            <li>课程名称:{{ course.caption }}</li>
            <ul>
            {% for homework in course.homework %}
                <li>作业标题:{{ homework.caption }}</li>
                <li>作业状态:{{ homework.state }}</li>
                <li>作业链接:<a href={{ homework.link }}>点击此处</a></li>
                <li>作业日期:{{ homework.date }}</li>
                <li>截止日期:{{ homework.deadline }}</li>
                <li>作业说明:{{ homework.note }}</li>
                <li>附加文件:{{ homework.file }}</li>
                <li>提交文件:{{ homework.submit_file }}</li>
                <li>文件大小:{{ homework.size }}</li>
                <li>--------------------------</li>
            </ul>
            {% endfor %}
            <li>********************************</li>
            <li>********************************</li>
            <li>********************************</li>
        {% endfor %}
    </ul> -->
    <div class = "course" onclick="hwdisp()">>>课程名称:{{ content.caption }}</div>
    <div class="box">
        <div class = "line">课程编号:{{ content.id }}</div>
        <div class = "line">未读文件:{{ content.file_unread }}</div>
        <div class = "line">未交作业:{{ content.homework }}</div>
        <div class = "line">未读通知:{{ content.notice_unread }}</div>
    </div>
    <div class="box">
            <div class = "line">课程编号:{{ content.id }}</div>
            <div class = "line">未读文件:{{ content.file_unread }}</div>
            <div class = "line">未交作业:{{ content.homework }}</div>
            <div class = "line">未读通知:{{ content.notice_unread }}</div>
    </div>  
    <div class = "course" onclick="hwdisp()">>>课程名称:{{ content.caption }}</div>
    <div class="box">
        <div class = "line">课程编号:{{ content.id }}</div>
        <div class = "line">未读文件:{{ content.file_unread }}</div>
        <div class = "line">未交作业:{{ content.homework }}</div>
        <div class = "line">未读通知:{{ content.notice_unread }}</div>
    </div>
    <div class="box">
        <div class = "line">课程编号:{{ content.id }}</div>
        <div class = "line">未读文件:{{ content.file_unread }}</div>
        <div class = "line">未交作业:{{ content.homework }}</div>
        <div class = "line">未读通知:{{ content.notice_unread }}</div>
    </div>
</body>
<script type="text/javascript">
    function hwdisp(){
        
    }
</script>
</html>