<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <ul>
        <li>姓名:{{ content.real_name }}</li>\
        <li>性别:{{ content.sex }}</li>
        <li>民族:{{ content.nation }}</li>
        <li>出生日期:{{ content.birth_date }}</li>
        <li>专业:{{ content.major }}</li>
        <li>学号:{{ content.student_number }}</li>
        <li>身份证号:{{ content.identification }}</li>
        <li>教学班:{{ content.teach_class }}</li>
        <li>院（系，所）:{{ content.department }}</li>
        <li>联系电话手机:{{ content.phone }}</li>
        <li>常用电子邮箱:{{ content.email }}</li>
        <li>是否在校:{{ content.is_at_school }}</li>
        <li>是否辅修:{{ content.is_minor }}</li>
        <li>第二学位否:{{ content.is_second_degree }}</li>
        <li>收费类别:{{ content.charge_type }}</li>
        <li>是否有学籍:{{ content.is_register }}</li>
        <li>毕业日期:{{ content.graduate_date }}</li>
    </ul>
</body>
</html>